# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*~
.idea
cmake-build*
*.log


.vscode
.project
.cproject
.libs
.deps
third-party/
third-party/boost/
third-party/fmt/
third-party/folly/
third-party/googletest/
third-party/log4cplus/
third-party/openssl/
third-party/wangle/
third-party/zstd/
build/
build/bin
build/CMakeFiles
build/common
build/exchange
build/lib
build/trading
installed/
installed/bin
installed/exec
#installed/include
installed/lib
installed/mapf
installed/share